<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--
        Exclude Templates
                  Set BulkManager.ExcludeTemplates to a '|' separated list of TemplateIds that should be
                  excluded from export (ex. bucket folders)
      
      -->
      <setting name="BulkManager.ExcludeTemplates" value="{ADB6CA4F-03EF-4F47-B9AC-9CE2BA53FF97}" />
      <setting name="BulkManager.LaunchPadButtonId" value="{E01CD6AA-1F50-4579-8DED-6099E89E014F}" />
    </settings>
  </sitecore>
</configuration>
