@using System.Configuration
@using System.Web.Configuration
@using Sitecore
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web
@using Sitecore.Web.UI.Controls.Common.UserControls

@model RenderingModel
@{
    var userControl = this.Html.Sitecore().Controls().GetUserControl(this.Model.Rendering);

    userControl.Requires.Script("bulkmanager", "StandardUpload.js");
    userControl.Class = "sc-standard-uploader row";

    var htmlAttributes = userControl.HtmlAttributes;
}
<form @htmlAttributes method="POST" enctype="multipart/form-data" style="display:inline;margin:0;">
    <input type="file" name="files" />
</form>
